body {
  font-family: sans-serif;
}
.flash-alert {
  color: red;
}
.flash-notice {
  color: green;
}


form {
   .field_with_errors {
    display: inline;
    input {
      outline: 1px solid red;
    }
   }
   label {
     display: inline-block;
     width: 100px;
   }
}


